@import "colors.css";
* {
  all: unset; /*this is really important to isolate waybar from gtk*/
  font-family: "Fira Code";
  font-size: 13px;
  font-weight: bold;
}

window#waybar {
  background: alpha(@background, 0.8);
  border: 2px solid @color4;
  border-radius: 10px;
}

tooltip {
  background: rgba(0, 0, 0, 0.1);
  border: 5px solid @foreground;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#clock.2
#custom-separator
#clock
#tray
#network
#backlight
#pulseaudio
#battery
#battery.warning
#battery.critical
#workspaces button {
  color: @foreground;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.5s ease-in-out;
}

#workspaces button.active {
  color: @foreground;
  transition: all 0.5s ease-in-out;
}

#clock.2 {
  color: @foreground;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

#custom-separator {
  color: @foreground;
  padding-top: 10px;
  padding-bottom: 10px;
}

#clock {
  color: @foreground;
  padding-top: 10px;
  padding-bottom: 10px;
}

#tray {
  color: @foreground;
  padding-top: 10px;
  padding-bottom: 10px;
}

#network {
  color: @foreground;
  padding-top: 10px;
  padding-bottom: 10px;
}

#backlight {
  color: @foreground;
  padding-top: 10px;
  padding-bottom: 10px;
}

#pulseaudio {
  color: @foreground;
  padding-top: 10px;
  padding-bottom: 10px;
}

#battery {
  color: @foreground;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
}

#battery.warning {
  color: #ff0000;
}

#battery.critical {
  color: #ffff00;
}
