/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "colors.css", dst = "~/.config/" }
 */

:root {
    --wallpaper: url("/home/kayra/Pictures/Wallpapers/23.png");

    /* Special */
    --background: #100000;
    --foreground: #FFE7D8;
    --cursor: #F29993;

    /* Colors */
    --color0:  #100000;
    --color1:  #AE6455;
    --color2:  #E54A4E;
    --color3:  #D08269;
    --color4:  #FF7162;
    --color5:  #FF966E;
    --color6:  #FFBB90;
    --color7:  #F7D5BF;
    --color8:  #AD9586;
    --color9:  #AE6455;
    --color10: #E54A4E;
    --color11: #D08269;
    --color12: #FF7162;
    --color13: #FF966E;
    --color14: #FFBB90;
    --color15: #F7D5BF;
}
