/* CSS variables for wallust
 * You can use this template by adding the following to wallust.toml:
css = { src = "colors.css", dst = "~/.config/" }
 */

:root {
    --wallpaper: url("/home/kayra/wallpapers/145.jpg");

    /* Special */
    --background: #0C1314;
    --foreground: #E6F5F4;
    --cursor: #A2C0BA;

    /* Colors */
    --color0:  #222829;
    --color1:  #4A7279;
    --color2:  #5E8A81;
    --color3:  #4BAAAC;
    --color4:  #79C6B0;
    --color5:  #AFE1B1;
    --color6:  #B8E3DF;
    --color7:  #D3E9E7;
    --color8:  #94A3A1;
    --color9:  #4A7279;
    --color10: #5E8A81;
    --color11: #4BAAAC;
    --color12: #79C6B0;
    --color13: #AFE1B1;
    --color14: #B8E3DF;
    --color15: #D3E9E7;
}
